[submodule "apps/astrovim"]
	path = apps/astrovim
	url = https://github.com/poulter7/AstroNvim.git
[submodule "apps/tpm"]
	path = apps/tpm
	url = https://github.com/poulter7/tpm.git
[submodule "apps/tmux"]
	path = apps/tmux
	url = https://github.com/poulter7/.tmux.git
